---
layout: docs
---
<ul>
  {% for post in page.posts %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
  {% if paginator.previous_page_path %}
    <a href="{{ paginator.previous_page_path | relative_url }}">Previous</a>
  {% endif %}
  <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page_path %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next</a>
  {% endif %}
{% endif %}
