---
layout: page
---
<div class="d-flex flex-wrap gutter border-top">
    {% for post in page.posts %}
    {%- if post.feature or forloop.first %}
    {%- include post-feature-card.html %}
    {%- else %}
    {%- include post-card.html border="border-top" %}
    {%- endif %}
    {% endfor %}
</div>

{% if page.paginator %}
<!-- Pagination is active -->
{% assign paginator = page.paginator %}
{% endif %}
<!-- Show navigation next/previous page links if applicable -->
{% if paginator.total_pages > 1 %}
<div class="paginate-container">
    <div role="navigation" aria-label="Pagination" class="d-flex d-md-inline-block pagination">
        {% if paginator.previous_page_path %}
        <a class="previous_page" rel="prev" href="{{ paginator.previous_page_path | relative_url }}"
            aria-disabled="false">Previous</a>
        {% endif %}
        {% if paginator.next_page_path %}
        <a class="next_page" rel="next" href="{{ paginator.next_page_path | relative_url }}">Next</a>
        {% endif %}
    </div>
</div>
{% endif %}
